// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
$navbar-default-bg: #ffffb3;
#logo {
  float: left;
  font: Calibri;
  text-transform: uppercase;
  color: #ffffff;
  background: #00cc44;
  font-weight: bold;
  font-size: 1.5em;
}

#logo:hover {
  background: #009933;
  color: #f2f2f2;
}

#Sign-Up {
  background:#00cc44;
  font-family: Calibri;
  font-weight: bold;
}

#Sign-Up:hover {
  background: #ffffb3;
}
.center {
  text-align: center;
  text-transform: uppercase;
}

.jumbotron {
  background-image: asset-url("rDQ6BEA.jpg");
  background-size: cover;
  height: 600px;
}

.jumbotron h1 {
  text-align: center;
  font-family: Calibri;
}

footer {
  text-align: center;
  border-top: 1px solid #00cc44;
  margin-top: 175px;
}

.btn {
  background: #00cc44;
}

.bth:hover {
  background: #ffffb3;
}

#publish {
  background: #00cc44;
}

#publish:hover {
  background: #ffffb3;
}

#return {
  background: #00cc44;
}

#return:hover {
  background: #ffffb3;
}

#panel_body {
  height: 100px;
  color: #ff8080;
}

.panel > .panel-heading {
  background-image: none;
  background-color: #ff8080;

}

#Index_Show {
  background: #00cc44;
}

#Index_Show:hover {
  background: #ffffb3;
}

#Edit_Show {
  background: #00cc44;
}

#Edit_Show:hover {
  background: #ffffb3;
}

.article-actions {
  border-top: 1px solid #00cc44;
  margin: 5px;
}

.description {
  margin-top: 0px;
}


@import "bootstrap-sprockets";
@import "bootstrap";
